@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .stats{
        @apply bg-[#091F1C] text-white p-4 flex-1 border-[#004337] border-2
    }

    .stats-container{
        @apply bg-[#091F1C] p-5 rounded-lg border-[#004337] border flex-1
    }

    .countdown {
        @apply p-8 text-5xl text-center text-white rounded-lg lg:min-w-[150px] bg-[#013F34]
    }

    .countdown-label {
        @apply text-center text-white uppercase text-sm pt-4
    }

    .admin-button {
        @apply bg-[#091F1C] p-2 flex-1 rounded-md border-[#004337] border-2 hover:bg-emerald-500/50
    }
}


input[type="number"] {
    -moz-appearance: textfield;
  }
  
  .gradient_btn {
    background: linear-gradient(
      103.91deg,
      #9b51e0 21.01%,
      rgba(48, 129, 237, 0.8) 100%
    );
  }
  
  .pink_gradient {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 123px;
    height: 123px;
    border-radius: 50%;
  
    background: #fb37ff;
    filter: blur(200px);
  }
  
  .blue_gradient {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 123px;
    height: 123px;
    border-radius: 50%;
  
    background: #18b2de;
    filter: blur(200px);
  }
  
  .gradient-border {
    background: linear-gradient(
      168.82deg,
      #fb37ff 1.7%,
      rgba(155, 111, 238, 0) 27.12%,
      rgba(123, 127, 234, 0) 61.28%,
      #1bb2de 99.52%
    );
  }